{{- if .Values.api.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "spheraform.fullname" . }}-api
  labels:
    {{- include "spheraform.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  type: ClusterIP
  selector:
    {{- include "spheraform.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: api
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
{{- end }}
