{{- if and .Values.postgres.enabled .Values.postgres.backup.enabled .Values.postgres.backup.storage.local.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "spheraform.fullname" . }}-postgres-backup
  labels:
    {{- include "spheraform.labels" . | nindent 4 }}
    app.kubernetes.io/component: postgres-backup
spec:
  accessModes:
    - ReadWriteOnce
  {{- if or .Values.postgres.backup.storage.local.storageClass .Values.global.storageClass }}
  storageClassName: {{ .Values.postgres.backup.storage.local.storageClass | default .Values.global.storageClass }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.postgres.backup.storage.local.size }}
{{- end }}
